asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.3
get==1.0.3
idna==2.6
numpy==1.15.2
post==1.0.2
public==1.0.3
pycparser==2.18
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.5
query-string==1.0.2
request==1.0.2
requests==2.20.0
simple-salesforce==0.74.2
six==1.11.0
urllib3==1.24.2
